<header class="feature" style="background-image: url({{ featured.thumbnail.src }})">
  <div class="gradient">
    <nav>
      <div class="container">
        <div class="logo"><a href="">L</a></div>
          <ul class="menu-desktop">
            <li><a href="">Feature</a></li>
            <li><a href="">Commentary</a></li>
            <li><a href="">Sports</a></li>
            <li><a href=""><i class="fa fa-search"></i></a></li>
          </ul>
  <!--           <ul class="menu-mobile">
            <li><a href="">Menu</a></li>
            <li><a href=""><i class="fa fa-search"></i></a></li>
          </ul> -->

        </div>
      </nav>
      
      <div class="featured-article">
        <div class="constrain">
          <a href="{{ featured.path }}">
            <h1>{{ featured.title}}</h1>
            <p class="subtitle">{{ featured.sub_heading }}</p>
            <p class="byline">by <span class="author">{{ featured.article_author }}</span><span class="time"><i class="fa fa-clock-o"></i> <span class="eta"></span></span></p>
          </a>
        </div>
      </div>
    </div>
</header>