{% if featured.thumbnail %}
<header class="feature full-bleed" style="background-image: url({{ featured.thumbnail.src }})">
{% else %}
<header class="feature no-img">
{% endif %}
  <div class="gradient">


    {% if featured.thumbnail %}
      {% include "nav.twig" %}
    {% else %}
      {% include "nav.twig" with {"bg" : "white"} %}
      <br>
    {% endif %}


      <div class="featured-article">
        <div class="constrain">
          <a href="{{ featured.path }}">
            <h1>{{ featured.title}}</h1>
            {% if post.get_field('sub_heading') %}
              <p class="subtitle">{{ featured.sub_heading }}<span class="time"><i class="fa fa-clock-o"></i> <span class="eta"></span></span></p>
              <p class="byline ">by <span class="author">{{ posts[i].article_author|default(posts[i].author) }}</span></p>
            {% else %}
              <p class="byline ">by <span class="author">{{ posts[i].article_author|default(posts[i].author) }}</span><span class="time"><i class="fa fa-clock-o"></i> <span class="eta"></span></span></p>
            {% endif %}

          </a>
        </div>
      </div>
    </div>
</header>