<header class="home feature">
  <div class="gradient">

      {% include "nav.twig" %}

      <div class="featured-article">
        <div class="content">
          {% if featured.thumbnail %}
            {# <img src="{{ featured.thumbnail.src }}"> #}
            <div class="left">
              <div class="image">
                <a href="{{ featured.path }}"><img src="{{ featured.thumbnail.src }}" alt=""></a>
              </div>
            </div>
          {% endif %}
          <div class="constrain">
            <a href="{{ featured.path }}">
              <h1>{{ featured.title}}</h1>
              <p class="subtitle">{{ featured.sub_heading }}</p>
              <p class="byline">by <span class="author">{{ featured.article_author|default(featured.author) }}</span> <span class="time">{{posts[2].post_date|date('F j, Y')}}</span> |<span class="time"><i class="fa fa-clock-o"></i> <span class="eta"></span> read</span></p>
            </a>
          </div>
        </div>
      </div>
    </div>
</header>